@font-face {
    font-family: "Proxima Nova";
    src: url(assets/fonts/ProximaNovaRegular.ttf);
}
@font-face {
    font-family: "Coco Gothic";
    src: url(assets/fonts/CocoGothic.ttf);
}


/* Reset */
a, p, body, h1, h2 ,h3 {
    margin: 0;
    padding: 0;
}

/* Defaults */

p, h1, h2, h3 {
    color: #124B47;
    font-family: "Proxima Nova";
    font-weight: 600;
    text-align: center;
    letter-spacing: 0;
}
button {
    text-align: center;
    width: 247px;
    height: 47px;
    border-radius: 23px;
    background-color: #295046;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 20px;
}

/* Mobile */
body {
    margin-top: 60px;
    margin-bottom: 32px;
}
img {
    width: 100%;
    position: relative;
}
h1 {
    font-size: 27px;
    line-height: 33px;
    margin-top: 24px;
}
h2 {
    font-size: 24px;
    line-height: 29px;
    
}
h3 {
    font-size: 21px;
    line-height: 25px;
    margin-top: 20px;
}
p {
    font-size: 17px;
    line-height: 26px;
    color:  #000000;
    margin-top: 16px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 1170px;
}
.hero-img {
    width: 150%;
}
.hero {
    overflow: hidden;
}
.top-section, .bottom-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.top-section {
    margin-top: 77px;
    
}
.top-section .item.two {
    margin-bottom: 50px;
    margin: 50px 0;
}
.top-section .item, .bottom-section .item {
    flex-basis: 100%;
    /* margin: auto */
}
.section-img {
    width: 100%;
}
.categorie-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.categorie {
    margin: 31px 15px 0 15px;
}
.categorie-wrapper {
    margin-top: 70px;
}
.categorie-p {
    margin-top: 7px;
}
.categorie-img {
    max-width: 152px;
}
.bottom-section {
    margin-top: 70px;
}
.bottom-section .item {
    margin-bottom: 50px;
}
p {
    flex-grow: 1;
}
.eyecatcher-container {
    position: relative;
}
.eyecatcher {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: 132px;
    border-radius: 4px;
    background-color: #5F8B24;
    box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.5);
    text-align: center;
    color: #FFCF00;
    font-family: "Coco Gothic";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.6px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2px;
  }




/* Tablet */
@media screen and (min-width: 768px) {
    .hero-img {
        /* max-height: 400px;
        min-height: 197px; */
        height: 400px;
        width: auto;
    }
    .hero {
        position: relative;
    }
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        width: 560px;
        height: 245px;
        border-radius: 15px;
    }
    h1 {
        margin: 0;
    }
    .categorie {
        max-width: 270px;
    }
    .categorie-img {
        max-width: 202px;
    }
    .header-wrapper {
        width: 389px;   
    }
    .top-section .item {
        flex: 1;
        margin: 0;
    }
    .top-section .item.two {
        margin: 0 25px;
    }
    .bottom-section .item {
        flex: 1 0 350px;
        /* max-width: 350px; */
        margin: auto;
    }
    .bottom-section .item.three, .bottom-section .item.four {
        margin-top: 60px;
    }
    .bottom-section .item.three, .bottom-section .item.one {
        margin-right: 30px;
    }
}




/* Desktop */
@media screen and (min-width: 960px) {
    h2 {
        font-size: 27px;
    }
    .top-section .item {
        max-width: 356px;
    }
    .categorie {
        flex: 1;
    }
    .categorie-container {
        margin: auto;
        padding: 0;
    }
    .bottom-section {
        margin-top: 90px;
    }
    .bottom-section .item {
        display: flex;
        max-width: 560px;
        flex: 1 0 400px;
        align-items: center;
    }
    .bottom-section .text-wrapper {
        margin-left: 20px;
        max-width: 290px;
        height: auto;
        width: auto;
    }
    .bottom-section .item.three, .bottom-section .item.four {
        margin-top: 50px;
    }
    .bottom-section .item.three, .bottom-section .item.one {
        margin-right: 49px;
    }
    body {
        padding-bottom: 108px;
    }
    .bottom-section .section-img {
        min-width: 200px;
    }
}